Repository arctern-io/arctern, pull requests merged in 2020-04, with the labels that each got.

#419 [skip ci] change db id to string type
  gui/server/app/common/spark.py
  gui/server/app/service.py
Labels: /gui/server, arctern-0.1.0

#420 Fix 416
  cpp/src/render/2d/cuda/heatmap.cu
  cpp/src/render/2d/heatmap/set_color.h
  cpp/unittest/render/coordinate_projection_test.cpp
Labels: arctern-0.1.0, bug

#428 empty implementation for symbol package
  ci/scripts/python_build.sh
  gui/server/tests/restful/test_service.py
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_symbol_.pyx
  python/arctern/util/vega/pointmap/vega_weighted_pointmap.py
  python/setup.py
Labels: arctern-0.1.0, feature

#434 Render accelerate
  spark/pyspark/arctern_pyspark/render_func.py
  spark/pyspark/examples/render/nyc_taxi.py
Labels: arctern-0.1.0, enhancement

#435 add docs for installation and deployment
  doc/arctern_visualization.md
  doc/deploy-with-docker-compose-cn.md
  doc/deploy-with-docker-compose.md
  doc/img/arctern_visualization/bar_black.png
  doc/img/arctern_visualization/bar_chart.png
  doc/img/arctern_visualization/bubble_chart.png
  doc/img/arctern_visualization/choroplethmap.png
  doc/img/arctern_visualization/crossfilter.png
  doc/img/arctern_visualization/heat_chart.png
  doc/img/arctern_visualization/heatmap.png
  doc/img/arctern_visualization/heattable_black.png
  doc/img/arctern_visualization/histogram_chart.png
  doc/img/arctern_visualization/layout.png
  doc/img/arctern_visualization/line_chart.png
  doc/img/arctern_visualization/pie_black.png
  doc/img/arctern_visualization/pie_chart.png
  doc/img/arctern_visualization/pointmap.png
  doc/img/arctern_visualization/query.png
  doc/img/arctern_visualization/queryworkflow.png
  doc/img/arctern_visualization/table.png
  doc/img/arctern_visualization/workflow.png
  doc/install_arctern_on_spark_en.md
  doc/set-up-a-local-channel-for-installing-arctern-cn.md
  doc/set-up-a-local-channel-for-installing-arctern.md
Labels: arctern-0.1.0, documentation

#440 #439 Add Flask dockerfile
  ci/scripts/conda/cpu/arctern/build_arctern.sh
  ci/scripts/conda/cpu/build.sh
  ci/scripts/conda/cpu/prebuild.sh
  ci/scripts/conda/cpu/pyarctern/build_pyarctern.sh
  ci/scripts/conda/cpu/upload_anaconda.sh
  ci/scripts/conda/cpu/upload_package.sh
  ci/scripts/conda/gpu/arctern/build_arctern.sh
  ci/scripts/conda/gpu/build.sh
  ci/scripts/conda/gpu/prebuild.sh
  ci/scripts/conda/gpu/pyarctern/build_pyarctern.sh
  ci/scripts/conda/gpu/upload_anaconda.sh
  ci/scripts/conda/gpu/upload_package.sh
  conda/recipes/arctern-spark/meta.yaml
  conda/recipes/pyarctern/build.sh
  conda/recipes/pyarctern/meta.yaml
  docker/flask/base/Dockerfile
  docker/flask/runtime/Dockerfile
  docker/spark/cpu/centos7/runtime/arctern/install_arctern_spark.sh
  docker/spark/cpu/ubuntu18.04/runtime/arctern/install_arctern_spark.sh
  docker/spark/gpu/centos7/runtime/arctern/install_arctern_spark.sh
  docker/spark/gpu/ubuntu18.04/runtime/arctern/install_arctern_spark.sh
  gui/server/db.json
  python/setup.cfg
  python/setup.py
Labels: arctern-0.1.0, feature

#446 web server: singleton spark session & temp view
  gui/server/README.md
  gui/server/app/common/spark.py
Labels: arctern-0.1.0, enhancement

#448 [skip ci] fix pr 442
  gui/server/db.json
Labels: /gui/server, arctern-0.1.0

#449 modify the order and name of the render interface parameters
  cpp/src/arrow/render_api.cpp
  cpp/src/render/2d/choropleth_map/choropleth_map.cpp
  cpp/src/render/2d/cuda/heatmap.cu
  cpp/src/render/2d/heatmap/set_color.h
  cpp/src/render/2d/scatter_plot/pointmap.cpp
  cpp/src/render/2d/scatter_plot/weighted_pointmap.cpp
  cpp/src/render/2d/scatter_plot/weighted_pointmap.h
  cpp/src/render/utils/color/color_gradient.cpp
  cpp/src/render/utils/color/color_gradient.h
  cpp/src/render/utils/vega/vega_choropleth_map/vega_choropleth_map.cpp
  cpp/src/render/utils/vega/vega_choropleth_map/vega_choropleth_map.h
  cpp/src/render/utils/vega/vega_heatmap/vega_heatmap.cpp
  cpp/src/render/utils/vega/vega_heatmap/vega_heatmap.h
  cpp/src/render/utils/vega/vega_scatter_plot/vega_pointmap.cpp
  cpp/src/render/utils/vega/vega_scatter_plot/vega_pointmap.h
  cpp/src/render/utils/vega/vega_scatter_plot/vega_scatter_plot.h
  cpp/src/render/utils/vega/vega_scatter_plot/vega_weighted_pointmap.cpp
  cpp/src/render/utils/vega/vega_scatter_plot/vega_weighted_pointmap.h
  cpp/unittest/render/choropleth_map_test.cpp
  cpp/unittest/render/heatmap_test.cpp
  cpp/unittest/render/pointmap_test.cpp
  cpp/unittest/render/weighted_pointmap_test.cpp
  gui/server/README.md
  gui/server/app/service.py
  gui/server/tests/restful/test_service.py
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/render.h
  python/arctern/util/_functions.py
  python/arctern/util/vega/_vega_functions.py
  python/arctern/util/vega/choroplethmap/vega_choroplethmap.py
  python/arctern/util/vega/heatmap/vega_heatmap.py
  python/arctern/util/vega/pointmap/vega_pointmap.py
  python/arctern/util/vega/pointmap/vega_scatter_plot.py
  python/arctern/util/vega/pointmap/vega_weighted_pointmap.py
  python/arctern/util/vega/vega_node.py
  python/tests/geo/render_test.py
  python/tests/vega/vega_example.txt
  python/tests/vega/vega_test.py
  spark/pyspark/arctern_pyspark/render_func.py
  spark/pyspark/examples/render/nyc_taxi.py
  tests/draw_map_test.py
Labels: arctern-0.1.0, feature

#438 fix bug : fail to config gdal_data and proj_lib in spark executor 's environment
  gui/server/app/common/spark.py
  gui/server/db.json
Labels: arctern-0.1.0, bug

#452 speed up st_within if input is point and circle
  cpp/src/gis/gdal/gis_functions.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
Labels: arctern-0.1.0, enhancement

#453 add python gis api comment
  .gitignore
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0, documentation

#456 [skip ci] fix test case of gui/server
  gui/server/README.md
  gui/server/tests/restful/test_service.py
Labels: /gui/server, arctern-0.1.0

#455 add performance regression script
  tests/perf_regression.py
Labels: arctern-0.1.0, enhancement

#457 add mutable params for color_gradient
  ci/jenkins/Jenkinsfile
  cpp/src/render/2d/choropleth_map/choropleth_map.cpp
  cpp/src/render/2d/scatter_plot/weighted_pointmap.cpp
  cpp/src/render/utils/color/color.h
  cpp/src/render/utils/color/color_gradient.cpp
  cpp/src/render/utils/color/color_gradient.h
  cpp/src/render/utils/vega/vega_choropleth_map/vega_choropleth_map.cpp
  cpp/src/render/utils/vega/vega_choropleth_map/vega_choropleth_map.h
  cpp/src/render/utils/vega/vega_scatter_plot/vega_weighted_pointmap.cpp
  cpp/src/render/utils/vega/vega_scatter_plot/vega_weighted_pointmap.h
  cpp/unittest/render/choropleth_map_test.cpp
  cpp/unittest/render/vega_test.cpp
  cpp/unittest/render/weighted_pointmap_test.cpp
  gui/server/README.md
  gui/server/tests/restful/test_service.py
  python/arctern/util/vega/choroplethmap/vega_choroplethmap.py
  python/arctern/util/vega/pointmap/vega_weighted_pointmap.py
  python/tests/geo/render_test.py
  python/tests/vega/vega_test.py
  spark/pyspark/examples/render/nyc_taxi.py
  tests/draw_map_test.py
Labels: arctern-0.1.0, feature

#462 Migrate docs and images to Arctern-docs
  README.md
  README_CN.md
  doc/Build-Conda-Package.md
  doc/How-to-determine-if-tow-geometries-are-approximately-equal.md
  doc/arctern_visualization.md
  doc/code-structure.md
  doc/compile-with-conda.md
  doc/deploy-with-docker-compose-cn.md
  doc/deploy-with-docker-compose.md
  doc/error_standard.md
  doc/extra/build-spark-environment.md
  doc/gis_api.md
  doc/img/arctern_visualization/bar_black.png
  doc/img/arctern_visualization/bar_chart.png
  doc/img/arctern_visualization/bubble_chart.png
  doc/img/arctern_visualization/choroplethmap.png
  doc/img/arctern_visualization/crossfilter.png
  doc/img/arctern_visualization/heat_chart.png
  doc/img/arctern_visualization/heatmap.png
  doc/img/arctern_visualization/heattable_black.png
  doc/img/arctern_visualization/histogram_chart.png
  doc/img/arctern_visualization/layout.png
  doc/img/arctern_visualization/line_chart.png
  doc/img/arctern_visualization/pie_black.png
  doc/img/arctern_visualization/pie_chart.png
  doc/img/arctern_visualization/pointmap.png
  doc/img/arctern_visualization/query.png
  doc/img/arctern_visualization/queryworkflow.png
  doc/img/arctern_visualization/table.png
  doc/img/arctern_visualization/workflow.png
  doc/img/screen-shot/standalone-cluster-start-master.png
  doc/img/screen-shot/standalone-cluster-start-slaves.png
  doc/img/screen-shot/standalone-cluster-submit-task.png
  doc/install_arctern_on_spark_cn.md
  doc/install_arctern_on_spark_en.md
  doc/load-from-postgis.md
  doc/plot-geometry-with-matlab.md
  doc/scripts/arctern_dependencies.txt
  doc/scripts/download_dependencies.py
  doc/set-up-a-local-channel-for-installing-arctern-cn.md
  doc/set-up-a-local-channel-for-installing-arctern.md
  doc/spark-on-yarn.md
  doc/spark-standalone-cluster.md
  doc/tutorial.md
  doc/user-manual.md
Labels: arctern-0.1.0, documentation

#461 Optimize Jenkins workflow
  ci/jenkins/Jenkinsfile
Labels: arctern-0.1.0, enhancement

#473 Add pyspark gis api comment
  python/arctern/_wrapper_func.py
  python/tests/geo/geo_test.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0, documentation

#475 Update Arctern Spark dockerfile
  docker/spark/cpu/centos7/base/Dockerfile
  docker/spark/cpu/centos7/runtime/arctern/install_arctern_spark.sh
  docker/spark/cpu/ubuntu18.04/base/Dockerfile
  docker/spark/cpu/ubuntu18.04/runtime/arctern/install_arctern_spark.sh
  docker/spark/gpu/centos7/base/Dockerfile
  docker/spark/gpu/centos7/runtime/arctern/install_arctern_spark.sh
  docker/spark/gpu/ubuntu18.04/base/Dockerfile
  docker/spark/gpu/ubuntu18.04/runtime/arctern/install_arctern_spark.sh
Labels: arctern-0.1.0, enhancement

#477 change param type of gis function in comment.
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0, documentation

#476 add default value for render parameters
  gui/server/README.md
  gui/server/app/service.py
  gui/server/tests/restful/test_service.py
  python/arctern/util/vega/_vega_functions.py
  python/tests/geo/render_test.py
  python/tests/vega/vega_test.py
  spark/pyspark/examples/render/nyc_taxi.py
Labels: arctern-0.1.0, enhancement

#464 Fix server tests warning
  spark/pyspark/arctern_pyspark/render_func.py
Labels: arctern-0.1.0, bug

#486 Server catch exception
  .gitignore
  gui/server/app/service.py
Labels: arctern-0.1.0, bug

#494 restful api v2
  gui/server/app/codegen.py
  gui/server/app/scope.py
  gui/server/app/service.py
  gui/server/json/choroplethmap.json
  gui/server/json/create_table_sql.json
  gui/server/json/heatmap.json
  gui/server/json/load_nyc_taxi.json
  gui/server/json/pointmap.json
  gui/server/json/save_table.json
  gui/server/json/weighted_pointmap.json
  gui/server/manage.py
  gui/server/restful-api.md
Labels: /gui/server, arctern-0.1.0

#493 Use the build environment of CentOS7 in build stage
  ci/jenkins/Jenkinsfile
  ci/jenkins/pod/arctern-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-centos7-build-env-pod.yaml
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/gpu/centos7/Dockerfile
Labels: arctern-0.1.0

#454 Icon
  cpp/cmake/ThirdParty.cmake
  cpp/src/CMakeLists.txt
  cpp/src/arrow/render_api.cpp
  cpp/src/arrow/render_api.h
  cpp/src/render/2d/general_2d.cpp
  cpp/src/render/2d/icon/icon_viz.cpp
  cpp/src/render/2d/icon/icon_viz.h
  cpp/src/render/render_builder.h
  cpp/src/render/render_builder_impl.h
  cpp/src/render/utils/image/image_loader.cpp
  cpp/src/render/utils/image/image_loader.h
  cpp/src/render/utils/image/my_zlib_compress.h
  cpp/src/render/utils/vega/vega_icon/vega_icon.cpp
  cpp/src/render/utils/vega/vega_icon/vega_icon.h
  cpp/unittest/render/CMakeLists.txt
  cpp/unittest/render/iconviz_test.cpp
  cpp/unittest/render/images/taxi.png
  python/tests/vega/vega_example.txt
Labels: arctern-0.1.0, feature

#499 Set default params in vega
  python/arctern/util/vega/_vega_functions.py
  python/tests/vega/vega_test.py
Labels: arctern-0.1.0, feature

#500 Adjust api comment
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0, documentation

#497 Icon python and spark
  README.md
  gui/server/app/service.py
  gui/server/tests/restful/taxi.png
  gui/server/tests/restful/test_account.py
  gui/server/tests/restful/test_service.py
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/arctern_core_symbol_.pyx
  python/arctern/cython/render.h
  python/arctern/util/vega/_vega_functions.py
  python/arctern/util/vega/icon/__init__.py
  python/arctern/util/vega/icon/vega_icon.py
  python/tests/geo/render_test.py
  python/tests/images/taxi.png
  python/tests/vega/vega_example.txt
  python/tests/vega/vega_test.py
  spark/pyspark/arctern_pyspark/render_func.py
  spark/pyspark/examples/render/nyc_taxi.py
Labels: arctern-0.1.0, feature

#502 Add icon regression test
  tests/draw_map/choropleth_map_nyc_6.png
  tests/draw_map/choropleth_map_nyc_7.png
  tests/draw_map/choropleth_map_nyc_8.png
  tests/draw_map/heat_map_nyc_1.png
  tests/draw_map/heat_map_nyc_2.png
  tests/draw_map/heat_map_nyc_3.png
  tests/draw_map/heat_map_nyc_4.png
  tests/draw_map/heat_map_nyc_5.png
  tests/draw_map/icon_viz_nyc_1.png
  tests/draw_map/icon_viz_nyc_2.png
  tests/draw_map/taxi.png
  tests/draw_map/weighted_point_map_nyc_1_1.png
  tests/draw_map/weighted_point_map_nyc_1_3.png
  tests/draw_map/weighted_point_map_nyc_1_4.png
  tests/draw_map/weighted_point_map_nyc_1_5.png
  tests/draw_map/weighted_point_map_nyc_2_1.png
  tests/draw_map/weighted_point_map_nyc_2_2.png
  tests/draw_map/weighted_point_map_nyc_2_3.png
  tests/draw_map/weighted_point_map_nyc_2_5.png
  tests/draw_map/weighted_point_map_nyc_3_1.png
  tests/draw_map/weighted_point_map_nyc_3_3.png
  tests/draw_map/weighted_point_map_nyc_3_4.png
  tests/draw_map/weighted_point_map_nyc_3_5.png
  tests/draw_map/weighted_point_map_nyc_4_1.png
  tests/draw_map/weighted_point_map_nyc_4_2.png
  tests/draw_map/weighted_point_map_nyc_4_3.png
  tests/draw_map/weighted_point_map_nyc_4_4.png
  tests/draw_map/weighted_point_map_nyc_4_5.png
  tests/draw_map_test.py
Labels: arctern-0.1.0, feature

#503 Add plot regression test
  tests/draw_map/plot_test_1.png
  tests/draw_plot_test.py
Labels: arctern-0.1.0, feature

#508 add regression
  docker/test_env/docker-compose.yaml
  gui/setup.py
  tests/draw_map_test.py
Labels: arctern-0.1.0, enhancement

#510 Fix invalid polygon in spark example
  spark/pyspark/examples/gis/spark_udf_ex.py
Labels: bug

#505 Fix heatmap opacity
  cpp/src/render/2d/cuda/heatmap.cu
  cpp/src/render/2d/heatmap/set_color.h
Labels: arctern-0.1.0, feature

#516 Fix agg in render
  cpp/src/render/render_builder_impl.h
  python/arctern/util/vega/choroplethmap/vega_choroplethmap.py
  python/arctern/util/vega/heatmap/vega_heatmap.py
  python/arctern/util/vega/pointmap/vega_weighted_pointmap.py
  spark/pyspark/arctern_pyspark/render_func.py
Labels: arctern-0.1.0, bug

#517 Improve agg
  cpp/src/arrow/render_api.cpp
  cpp/src/render/render_builder_impl.h
  cpp/unittest/render/choropleth_map_test.cpp
  cpp/unittest/render/heatmap_test.cpp
  cpp/unittest/render/weighted_pointmap_test.cpp
Labels: arctern-0.1.0, enhancement

#521 Arctern udf
  python/arctern/_wrapper_func.py
  python/tests/geo/geo_test.py
Labels: arctern-0.1.0, enhancement

#520 Fix pandas render api
  python/arctern/_wrapper_func.py
  python/tests/geo/render_test.py
Labels: arctern-0.1.0, bug

#524 fix gis api comment.
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0

#526 Fix cpp agg
  cpp/src/arrow/render_api.cpp
  cpp/src/render/render_builder.h
  cpp/src/render/render_builder_impl.h
Labels: arctern-0.1.0, enhancement

#525 Fix gis api comment.
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0

#527 Redundant filter in choroplethmap
  gui/server/tests/restful/test_service.py
  spark/pyspark/arctern_pyspark/render_func.py
  spark/pyspark/examples/render/nyc_taxi.py
Labels: arctern-0.1.0, enhancement

#530 modify plot api comment
  python/arctern/_plot.py
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
  spark/pyspark/arctern_pyspark/plot.py
Labels: arctern-0.1.0

#532 Add register_func comment.
  python/arctern/_plot.py
  python/tests/geo/plot_test.py
  spark/pyspark/arctern_pyspark/plot.py
  spark/pyspark/arctern_pyspark/register.py
Labels: arctern-0.1.0

#534 encapsulate python transform and render interface
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/tests/geo/render_test.py
  spark/pyspark/arctern_pyspark/render_func.py
Labels: arctern-0.1.0, enhancement

#537 fix param type from double to float.
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.0

#536 Rename render pandas api
  python/arctern/_wrapper_func.py
  python/tests/geo/render_test.py
  spark/pyspark/arctern_pyspark/render_func.py
Labels: arctern-0.1.0, feature

#540 Fix gis comment
  python/arctern/_wrapper_func.py
  python/tests/geo/geo_test.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
  spark/pyspark/examples/render/nyc_taxi.py
  tests/draw_map_test.py
  tests/spark_test.py
Labels: arctern-0.1.0

#541 Update unittest
  .gitignore
  python/tests/geo/geo_test.py
Labels: arctern-0.1.0, enhancement

#544 remove unnecessary coalecse
  spark/pyspark/arctern_pyspark/gis_func.py
Labels: arctern-0.1.0, bug

#551 set input as vector of arrow array
  cpp/CMakeLists.txt
  cpp/src/gis/api.h
  cpp/src/gis/gdal/gis_functions.cpp
  cpp/src/gis/gdal/gis_functions.h
  cpp/src/gis/gis_functions.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/gis.h
Labels: enhancement

#552 server package refactor
  docker/flask/runtime/Dockerfile
  gui/server/arctern_server/README.md
  gui/server/arctern_server/__init__.py
  gui/server/arctern_server/app/common/__init__.py
  gui/server/arctern_server/app/common/spark.py
  gui/server/arctern_server/app/common/token.py
  gui/server/arctern_server/app/scope.py
  gui/server/arctern_server/app/service.py
  gui/server/arctern_server/arctern-server
  gui/server/arctern_server/config.ini
  gui/server/arctern_server/manage.py
  gui/server/setup.py
Labels: arctern-0.2.0, enhancement

#556 fix ST_PolygonFromEnvelope bug
  cpp/src/gis/gdal/gis_functions.cpp
  python/tests/geo/geo_test.py
Labels: arctern-0.1.1, bug

#557 fix ST_PolygonFromEnvelope bug
  cpp/src/gis/gdal/gis_functions.cpp
  python/tests/geo/geo_test.py
Labels: arctern-0.1.1, bug

#558 render api use vectorof arrow array
  cpp/src/CMakeLists.txt
  cpp/src/arrow/render_api.cpp
  cpp/src/arrow/render_api.h
  cpp/src/render/render_builder.h
  cpp/src/render/render_builder_impl.h
  cpp/src/render/utils/render_utils.cpp
  cpp/src/render/utils/render_utils.h
  cpp/unittest/render/choropleth_map_test.cpp
  cpp/unittest/render/coordinate_projection_test.cpp
  cpp/unittest/render/heatmap_test.cpp
  cpp/unittest/render/iconviz_test.cpp
  cpp/unittest/render/pointmap_test.cpp
  cpp/unittest/render/weighted_pointmap_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/arctern_core_symbol_.pyx
  python/arctern/cython/render.h
  python/tests/geo/render_test.py
Labels: arctern-0.1.1, enhancement

#559 render api use vectorof arrow array
  cpp/src/CMakeLists.txt
  cpp/src/arrow/render_api.cpp
  cpp/src/arrow/render_api.h
  cpp/src/render/render_builder.h
  cpp/src/render/render_builder_impl.h
  cpp/src/render/utils/render_utils.cpp
  cpp/src/render/utils/render_utils.h
  cpp/unittest/render/choropleth_map_test.cpp
  cpp/unittest/render/coordinate_projection_test.cpp
  cpp/unittest/render/heatmap_test.cpp
  cpp/unittest/render/iconviz_test.cpp
  cpp/unittest/render/pointmap_test.cpp
  cpp/unittest/render/weighted_pointmap_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/arctern_core_symbol_.pyx
  python/arctern/cython/render.h
  python/tests/geo/render_test.py
Labels: arctern-0.1.1, enhancement
