Repository arctern-io/arctern, pull requests merged in 2020-07, with the labels that each got.

#779 add 3 methods to class GeoSeries and doctest support
  ci/yaml/conda_env_python.yml
  python/arctern/_wrapper_func.py
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/arctern/plot/_plot.py
  python/arctern/plot/_plot_with_map.py
  python/tests/geoseries/dataset/taxi_zones.zip
  python/tests/geoseries/geoseries_test.py
  python/tests/geoseries/series_method_test.py
Labels: arctern-0.3.0, bug, documentation, enhancement, feature

#783 Add pylint disable
  tests/draw_map_test.py
Labels: arctern-0.3.0

#784 Scala wrap affine functions
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature

#788 Updated api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.3.0, documentation

#791 Fix st_union_aggr not work when test has only two geometries
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/AggregateFunctions.scala
  scala/src/test/scala/AggregateFunctionsTest.scala
Labels: arctern-0.3.0, bug

#793 [skip ci] Update API comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.3.0, documentation

#797 Fix crashed when geometry is invalid
  scala/src/main/scala/org/apache/spark/sql/arctern/GeometryUDT.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug

#798 Change plot function comment to produce graph.
  python/arctern/plot/_plot.py
  python/arctern/plot/_plot_with_map.py
Labels: arctern-0.3.0

#799 Update api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.3.0, documentation

#801 Update download comments
  python/arctern/plot/_plot_with_map.py
Labels: arctern-0.3.0, documentation

#803 [skip ci] Update api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.3.0, documentation

#805 fix method `from_file`
  cpp/CMakeLists.txt
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.3.0, bug

#806 Scala add map matching
  scala/src/main/scala/org/apache/spark/sql/arctern/MapMatching.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/UdfRegistrator.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/EnvelopeAggr.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/indexedJoin.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/index/IndexBuilder.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/index/RTreeIndex.scala
  scala/src/test/scala/MapMatchingTest.scala
Labels: arctern-0.3.0, feature

#810 Choroplethmap add muitipolygon support
  cpp/src/arrow/render_api.cpp
  cpp/src/render/2d/choropleth_map/choropleth_map.cpp
  cpp/src/render/2d/choropleth_map/choropleth_map.h
  cpp/src/render/render_builder.h
  cpp/src/render/render_builder_impl.h
  cpp/unittest/render/choropleth_map_test.cpp
Labels: arctern-0.3.0, feature

#814 Transform and projection add multipolygon for choroplethmap
  cpp/src/render/render_builder_impl.h
Labels: arctern-0.3.0, feature

#816 Fix ST_Centroid crashed when input is empty geometry
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug

#818 Fix ST_Union_Aggr get empty when inputs are only points
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/AggregateFunctions.scala
  scala/src/test/scala/AggregateFunctionsTest.scala
Labels: arctern-0.3.0, bug

#815 add doctest for plot
  python/arctern/_wrapper_func.py
  python/arctern/plot/_plot_with_map.py
  spark/arctern_spark/geoseries.py
Labels: arctern-0.3.0, documentation

#823 test doctest
  spark/arctern_spark/geoseries.py
Labels: arctern-0.3.0, documentation

#821 Fix NullPointerException in MapMatching
  scala/src/main/scala/org/apache/spark/sql/arctern/MapMatching.scala
  scala/src/test/scala/MapMatchingTest.scala
Labels: arctern-0.3.0, bug

#819 implement spatial join in spark
  scala/src/main/scala/org/apache/spark/sql/arctern/MapMatching.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/SpatialJoin.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/AggregateFunctions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Constructors.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/EnvelopeAggr.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/index/RTreeIndex.scala
  scala/src/test/scala/AggregateFunctionsTest.scala
  scala/src/test/scala/CornerTest.scala
  scala/src/test/scala/MapMatchingTest.scala
  scala/src/test/scala/SpatialJoinTest.scala
Labels: arctern-0.3.0, feature, scala

#831 Fix comment and parameter name in sjoin
  python/arctern/tools/sjoin.py
Labels: arctern-0.3.0

#834 Update API comments
  python/arctern/geodataframe/geodataframe.py
  python/arctern/geoseries/geoseries.py
  python/arctern/plot/plot_without_map.py
  python/arctern/tools/file.py
  python/arctern/tools/sjoin.py
  python/tests/geodataframe/geodataframe_test.py
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/tests/geodataframe_test.py
Labels: arctern-0.3.0, documentation

#832 Length of polygon and multipolygon return 0
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature, scala

#845 Build a matrix of conda distributions
  .env
  .github/workflows/conda_build.yml
  .github/workflows/release.yml
  ci/scripts/conda/cpu/arctern/build_arctern.sh
  ci/scripts/conda/cpu/build.sh
  ci/scripts/conda/gpu/arctern/build_arctern.sh
  ci/scripts/conda/gpu/build.sh
  conda/recipes/arctern-webserver/meta.yaml
  conda/recipes/arctern/cpu/meta.yaml
  conda/recipes/arctern/gpu/meta.yaml
  docker-compose.yaml
Labels: arctern-0.3.0, enhancement

#841 Fix empty point exception in ST_SymDifference
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug, scala

#838 ST_Exteriorring return null when the input is not a polygon, Fix not closed linestring error
  scala/src/main/scala/org/apache/spark/sql/arctern/CodeGenUtil.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature, scala

#848 Fix empty point exception in ST_Difference
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug, scala

#843 Fix new col in GeoSeries
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/geoseries.py
  spark/arctern_spark/tests/__init__.py
  spark/arctern_spark/tests/geodataframe_test.py
Labels: arctern-0.3.0

#851 Add test for koalas GeoSeries
  spark/arctern_spark/geoseries.py
  spark/arctern_spark/tests/geo_functions_test.py
  spark/arctern_spark/tests/series_method_test.py
Labels: arctern-0.3.0

#854 Add sjoin test
  spark/arctern_spark/tests/sjoin_test.py
Labels: arctern-0.3.0

#853 Fix empty point exception in ST_Union
  scala/src/main/scala/org/apache/spark/sql/arctern/CodeGenUtil.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug, scala

#855 Fix ST_DistanceSphere range check issue
  cpp/src/gis/gdal/gis_functions.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
  scala/src/main/scala/org/apache/spark/sql/arctern/MapMatching.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug, scala

#857 Create a jenkins slave Pod that gets assigned a QoS class of Guaranteed
  ci/jenkins/pod/arctern-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/docker-pod.yaml
Labels: enhancement

#846 add examples for arctern_spark
  spark/arctern_spark/examples/__init__.py
  spark/arctern_spark/examples/geo_functions.py
  spark/setup.py
Labels: arctern-0.3.0, enhancement

#858 add comment && simplify code for is_list_like(pd.Series)
  spark/arctern_spark/geoseries.py
  spark/arctern_spark/tests/geo_functions_test.py
  spark/arctern_spark/tests/geoseries_test.py
Labels: arctern-0.3.0

#861 remove geometry in GeoDataFrame and fix file test
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/geoseries.py
  spark/arctern_spark/tests/geodataframe_test.py
Labels: arctern-0.3.0, bug

#863 Update comment for near_road
  python/arctern/_wrapper_func.py
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/tests/geodataframe_test.py
Labels: arctern-0.3.0, documentation

#862 fix preblom when constructing geodataframe from datafram and geoseries
  python/arctern/geodataframe/geodataframe.py
  python/arctern/tools/file.py
  python/arctern/tools/sjoin.py
  python/tests/geodataframe/geodataframe_test.py
Labels: bug

#868 Add function comment in geodataframe
  python/arctern/geodataframe/geodataframe.py
Labels: arctern-0.3.0

#867 fix error in sjoin(ho="right", op="within")
  python/arctern/geodataframe/geodataframe.py
  python/arctern/tools/sjoin.py
  python/tests/geodataframe/geodataframe_test.py
Labels: bug

#874 [skip ci] Fix comment
  python/arctern/geodataframe/geodataframe.py
  python/arctern/tools/file.py
  python/arctern/tools/sjoin.py
Labels: arctern-0.3.0

#869 reorganize import
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/geoseries.py
  spark/arctern_spark/map_matching.py
Labels: arctern-0.3.0

#876 [skip ci] add doctest+SKIP in plot_without_map
  python/arctern/plot/__init__.py
  python/arctern/plot/_plot_without_map.py
Labels: documentation

#877 fix doc-test bug
  python/arctern/geodataframe/geodataframe.py
  python/arctern/tools/sjoin.py
Labels: arctern-0.3.0, documentation

#871 add doc for arctern_spark and try to be consistent with pandas arctern
  spark/arctern_spark/file.py
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/sjoin.py
Labels: arctern-0.3.0

#879 validate arg for series method
  spark/arctern_spark/geoseries.py
Labels: arctern-0.3.0

#882 fix doc-test bug
  python/arctern/geodataframe/geodataframe.py
  spark/arctern_spark/geoseries.py
Labels: arctern-0.3.0, bug

#883 Fix doc test bug
  python/arctern/plot/_plot_with_map.py
  python/arctern/plot/_plot_without_map.py
  python/tests/geo/plot_without_map_test.py
Labels: arctern-0.3.0, bug

#884 [skip ci] Update api comments
  python/arctern/_wrapper_func.py
  python/arctern/geodataframe/geodataframe.py
  python/arctern/geoseries/geoseries.py
  python/arctern/tools/file.py
  python/arctern/tools/sjoin.py
  spark/arctern_spark/file.py
  spark/arctern_spark/geodataframe.py
  spark/arctern_spark/geoseries.py
  spark/arctern_spark/map_matching.py
  spark/arctern_spark/sjoin.py
Labels: arctern-0.3.0, documentation

#885 Update near_road comments
  spark/arctern_spark/map_matching.py
Labels: arctern-0.3.0, documentation

#886 [skip ci] Fix comment in geodataframe.
  python/arctern/geodataframe/geodataframe.py
Labels: arctern-0.3.0

#887 fix pylint bug
  python/arctern/geoseries/geoseries.py
  spark/arctern_spark/file.py
  spark/arctern_spark/geodataframe.py
  tests/koalas_test/spark_koalas_regression.py
Labels: arctern-0.3.0, bug

#889 [skip ci] update choroplethmap comments
  python/arctern/plot/_plot_with_map.py
  python/arctern/plot/_plot_without_map.py
Labels: arctern-0.3.0, documentation

#890 disable restful regression
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/arcternSparkRegression.groovy
  docker/test_env/spark/cpu/docker-compose.yml
  docker/test_env/spark/gpu/docker-compose.yml
Labels: arctern-0.3.0

#888 Add png diff test
  docker/spark/cpu/centos7/arctern/install_arctern_conda.sh
  docker/spark/cpu/ubuntu18.04/arctern/install_arctern_conda.sh
  docker/spark/gpu/centos7/arctern/install_arctern_conda.sh
  docker/spark/gpu/ubuntu18.04/arctern/install_arctern_conda.sh
  docker/test_env/docker-compose.yaml
  tests/draw_map/heat_map_nyc_1.png
  tests/draw_map/heat_map_nyc_2.png
  tests/draw_map/heat_map_nyc_3.png
  tests/draw_map/heat_map_nyc_4.png
  tests/draw_map/heat_map_nyc_5.png
  tests/draw_map/point_map_nyc_1.png
  tests/draw_map/point_map_nyc_2.png
  tests/draw_map/point_map_nyc_3.png
  tests/draw_map/point_map_nyc_4.png
  tests/draw_map/point_map_nyc_6.png
  tests/draw_map/weighted_point_map_nyc_1_1.png
  tests/draw_map/weighted_point_map_nyc_1_3.png
  tests/draw_map/weighted_point_map_nyc_1_4.png
  tests/draw_map/weighted_point_map_nyc_1_5.png
  tests/draw_map/weighted_point_map_nyc_2_1.png
  tests/draw_map/weighted_point_map_nyc_2_3.png
  tests/draw_map/weighted_point_map_nyc_2_4.png
  tests/draw_map/weighted_point_map_nyc_2_5.png
  tests/draw_map/weighted_point_map_nyc_3_1.png
  tests/draw_map/weighted_point_map_nyc_3_3.png
  tests/draw_map/weighted_point_map_nyc_3_4.png
  tests/draw_map/weighted_point_map_nyc_3_5.png
  tests/draw_map/weighted_point_map_nyc_4_1.png
  tests/draw_map/weighted_point_map_nyc_4_3.png
  tests/draw_map/weighted_point_map_nyc_4_4.png
  tests/draw_map/weighted_point_map_nyc_4_5.png
  tests/draw_map_test.py
  tests/draw_plot_test.py
Labels: arctern-0.3.0

#893 0.3.x
  cpp/src/CMakeLists.txt
Labels: arctern-0.3.0

#895 [skip ci]fix typo in comments
  python/arctern/geoseries/geoseries.py
  spark/arctern_spark/geodataframe.py
Labels: arctern-0.3.0, documentation
