Repository arctern-io/arctern, pull requests merged in 2020-06, with the labels that each got.

#675 add arrow null element support
  cpp/src/arrow/render_api.cpp
  cpp/src/render/utils/render_utils.cpp
  cpp/unittest/render/coordinate_projection_test.cpp
Labels: arctern-0.2.0, bug

#672 merge from branch-0.2.x
  README_CN.md
  ci/scripts/run_pytest.sh
  python/arctern/_wrapper_func.py
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geoseries_df_test.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0

#674 fix df.replace() bug
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geo_funcions_test.py
  python/tests/geoseries/geoseries_df_test.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0, bug

#678 add arctern GeoSeries to GeoPandas GeoSeries
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0

#679 Fix Segment fault in map matching.
  cpp/src/map_match/map_match.cpp
  cpp/unittest/map_match/map_match_test.cpp
Labels: arctern-0.2.0

#681 fix some memory leak problem
  README_CN.md
  cpp/src/arrow/render_api.cpp
  cpp/src/gis/spatial_join/st_indexed_within.cpp
  cpp/src/gis/spatial_join/st_indexed_within.h
  cpp/src/index/index.h
  cpp/src/index/index_builder.cpp
  cpp/src/map_match/map_match.cpp
  cpp/src/map_match/map_match.h
  cpp/src/render/render_builder_impl.h
  cpp/src/render/utils/render_utils.cpp
  cpp/src/render/utils/render_utils.h
  cpp/src/utils/log.h
  cpp/unittest/gis/gdal/format_conversion_tests.cpp
  cpp/unittest/map_match/map_match_test.cpp
Labels: arctern-0.2.0, bug

#682 fix #680 index problem in near_road
  python/arctern/__init__.py
  python/arctern/_map_match_func.py
  python/arctern/_wrapper_func.py
Labels: arctern-0.2.0, bug

#688 Fix memory overflow in map_match_test.cpp
  cpp/unittest/map_match/map_match_test.cpp
  python/tests/map_match/map_match_test.py
Labels: arctern-0.2.0

#689 fix #680 nearest_road && nearest_location_on_road's output size don't equal to input points's size
  cpp/src/map_match/map_match.cpp
  cpp/src/map_match/map_match.h
  cpp/unittest/gis/spatial_join/indexed_with_test.cpp
  cpp/unittest/map_match/map_match_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/map_match.h
  python/tests/map_match/map_match_test.py
Labels: bug

#693 delete WktToWkb && WkbToWkt in render
  cpp/src/arrow/render_api.cpp
  cpp/src/arrow/render_api.h
  cpp/src/gis/gdal/format_conversion.cpp
  cpp/unittest/gis/spatial_join/indexed_with_test.cpp
  cpp/unittest/render/choropleth_map_test.cpp
  cpp/unittest/render/coordinate_projection_test.cpp
  cpp/unittest/render/fishnetmap_test.cpp
  cpp/unittest/render/heatmap_test.cpp
  cpp/unittest/render/iconviz_test.cpp
  cpp/unittest/render/pointmap_test.cpp
  cpp/unittest/render/weighted_pointmap_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/render.h
  python/tests/geo/plot_with_map_test.py
  python/tests/geo/render_test.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.2.0, enhancement

#690 Fix render memory leak
  README_CN.md
  cpp/src/arrow/render_api.cpp
  cpp/src/arrow/render_api.h
  cpp/src/render/2d/choropleth_map/choropleth_map.cpp
  cpp/src/render/2d/choropleth_map/choropleth_map.h
  cpp/src/render/2d/fishnet_map/fishnet_map.cpp
  cpp/src/render/2d/fishnet_map/fishnet_map.h
  cpp/src/render/2d/general_2d.cpp
  cpp/src/render/2d/general_2d.h
  cpp/src/render/2d/heatmap/heatmap.cpp
  cpp/src/render/2d/heatmap/heatmap.h
  cpp/src/render/2d/icon/icon_viz.cpp
  cpp/src/render/2d/icon/icon_viz.h
  cpp/src/render/2d/scatter_plot/pointmap.cpp
  cpp/src/render/2d/scatter_plot/pointmap.h
  cpp/src/render/2d/scatter_plot/weighted_pointmap.cpp
  cpp/src/render/2d/scatter_plot/weighted_pointmap.h
  cpp/src/render/render_builder.h
  cpp/src/render/render_builder_impl.h
  cpp/unittest/render/coordinate_projection_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/render.h
Labels: arctern-0.2.0, bug

#704 use pragma once
  python/arctern/cython/gis.h
  python/arctern/cython/map_match.h
  python/arctern/cython/render.h
Labels: arctern-0.2.0

#696 Upload Arctern conda package when github event is release
  .github/workflows/release.yml
Labels: enhancement

#709 add unittest for geoseries
  python/tests/geoseries/geoseries_func_test.py
Labels: arctern-0.2.0, enhancement

#712 supplement example
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#713 Add commen for GeoSeries.fillna
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#714 turn off axis
  python/arctern/plot/_plot_with_map.py
Labels: arctern-0.2.0

#717 Remove ST and format polygon
  cpp/unittest/gis/spatial_join/indexed_with_test.cpp
  python/arctern/_wrapper_func.py
  python/tests/geo/geo_test.py
Labels: arctern-0.2.0

#718 [skip ci] modify plot_geometry comments
  python/arctern/plot/_plot.py
Labels: arctern-0.2.0

#725 update 0.2.0 README.md
  README.md
  doc/img/v0.2.0_intro/performance_geopandas_vs_arctern.png
Labels: arctern-0.2.0, documentation

#726 check name consistency
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#724 from branch-0.2.x
  .github/workflows/release.yml
  README.md
  README_CN.md
  cpp/unittest/gis/spatial_join/indexed_with_test.cpp
  doc/img/v0.2.0_intro/performance_geopandas_vs_arctern.png
  python/arctern/_wrapper_func.py
  python/arctern/cython/gis.h
  python/arctern/cython/map_match.h
  python/arctern/cython/render.h
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/arctern/plot/_plot.py
  python/arctern/plot/_plot_with_map.py
  python/tests/geo/geo_test.py
  python/tests/geoseries/geoseries_test.py
  python/tests/geoseries/series_method_test.py
Labels: arctern-0.2.0

#727 add example for GeoSeries.from_geopandas
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#729 [skip ci] make to_wkb doctring as raw string
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#730 Fixed typo in readme
  README.md
Labels: arctern-0.2.0

#731 Update GeoSeries comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#732 Delete repeat code
  cpp/src/map_match/map_match.cpp
Labels: arctern-0.2.0

#733 Update geoserise api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#735 Update api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#738 Update api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#740 Update api comments
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#745 Update api comments
  README_CN.md
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#748 [skip ci] Update api comments
  python/arctern/_wrapper_func.py
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#749 [skip ci] Update api comments
  python/arctern/_wrapper_func.py
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#750 [skip ci] Update api comments
  python/arctern/_wrapper_func.py
  python/arctern/geoseries/geoseries.py
  python/arctern/plot/_plot.py
  python/arctern/plot/_plot_with_map.py
Labels: arctern-0.2.0

#751 fix typo
  python/arctern/_wrapper_func.py
  python/arctern/geoseries/geoseries.py
  python/arctern/plot/_plot.py
  python/arctern/plot/_plot_with_map.py
Labels: arctern-0.2.0

#752 Add r before binary string
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#755 Updated comment of intersection api
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0

#758 [skip ci] Minor editorial changes
  python/arctern/geoseries/geoseries.py
Labels: arctern-0.2.0, documentation

#765 Scala add ST_GeomFromWKB ST_Translate ST_Rotate
  scala/src/main/scala/org/apache/spark/sql/arctern/UdfRegistrator.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Constructors.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/functions.scala
  scala/src/test/scala/ConstructorsTest.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature

#766 Scala add functions
  scala/src/main/scala/org/apache/spark/sql/arctern/UdfRegistrator.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature

#770 Fix Jenkinsfile bug
  ci/jenkins/Jenkinsfile
  ci/jenkins/step/buildArcternFlaskImage.groovy
Labels: arctern-0.3.0, bug

#771 Scala add ST_ExteriorRing ST_Scale ST_Affine
  scala/src/main/scala/org/apache/spark/sql/arctern/UdfRegistrator.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature

#768 wrap C++ spatial index with cython
  cpp/src/CMakeLists.txt
  cpp/src/arrow/index_api.h
  cpp/src/gis/map_match/map_match.cpp
  cpp/src/gis/map_match/map_match.h
  cpp/src/gis/spatial_join/st_indexed_within.cpp
  cpp/src/gis/spatial_join/st_indexed_within.h
  cpp/src/index/geo_index.cpp
  cpp/src/index/geo_index.h
  cpp/src/index/index_tree.cpp
  cpp/src/index/index_tree.h
  cpp/unittest/CMakeLists.txt
  cpp/unittest/gis/CMakeLists.txt
  cpp/unittest/index/CMakeLists.txt
  cpp/unittest/index/map_match_test.cpp
  cpp/unittest/index/spatial_join/CMakeLists.txt
  cpp/unittest/index/spatial_join/indexed_with_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/map_match.h
  python/arctern/cython/spatial_index.h
  python/arctern/geoseries/geoseries.py
  python/tests/index/map_match_test.py
  python/tests/index/within_which_test.py
Labels: arctern-0.3.0, enhancement

#774 scala fix ST_Union_Aggr
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/AggregateFunctions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/AggregateFunctionsTest.scala
Labels: arctern-0.3.0, feature

#775 add 11 methods to GeoSeries and add multi-threading capability
  ci/jenkins/pod/arctern-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/yaml/conda_env_cpp.yml
  conda/recipes/arctern/cpu/meta.yaml
  conda/recipes/arctern/gpu/meta.yaml
  cpp/CMakeLists.txt
  cpp/src/CMakeLists.txt
  cpp/src/gis/api.h
  cpp/src/gis/cuda/conversion/arrow_encode.cpp
  cpp/src/gis/gdal/geometry_visitor.cpp
  cpp/src/gis/gdal/geometry_visitor.h
  cpp/src/gis/gdal/gis_functions.cpp
  cpp/src/gis/gdal/gis_functions.h
  cpp/src/gis/gis_functions.cpp
  cpp/src/render/2d/cuda/heatmap.cu
  cpp/src/utils/arrow_alias.h
  cpp/src/utils/arrow_utils.cpp
  cpp/src/utils/arrow_utils.h
  cpp/unittest/CMakeLists.txt
  cpp/unittest/gis/gis_functions_tests.cpp
  cpp/unittest/utils/CMakeLists.txt
  cpp/unittest/utils/arrow_alias_tests.cpp
  cpp/unittest/utils/chunked_array_tests.cpp
  docker/build_env/build_conda_env.yml
  docker/build_env/cpu/centos7/Dockerfile
  docker/build_env/cpu/ubuntu18.04/Dockerfile
  docker/build_env/gpu/centos7/Dockerfile
  docker/build_env/gpu/ubuntu18.04/Dockerfile
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/arctern_core_symbol_.pyx
  python/arctern/cython/gis.h
  python/arctern/geoseries/geoseries.py
  python/arctern/plot/_plot.py
  python/tests/geo/geo_test.py
  python/tests/geoseries/geo_funcions_test.py
  python/tests/geoseries/geoseries_func_test.py
Labels: arctern-0.3.0, enhancement, feature

#776 Scala fix out of bound error, create empty polygon in simple way
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/AggregateFunctions.scala
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/AggregateFunctionsTest.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, bug

#777 Use power in st_precision_reduce, st_distancesphere return nan
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature

#778 Scala add origin in ST_Scale and ST_Rotate
  scala/src/main/scala/org/apache/spark/sql/arctern/expressions/Functions.scala
  scala/src/test/scala/FunctionsTest.scala
Labels: arctern-0.3.0, feature
