Repository arctern-io/arctern, pull requests merged in 2020-05, with the labels that each got.

#567 test vectory implementation in regression
  ci/scripts/run_spark_regression.sh
  python/tests/geo/geo_test.py
  tests/test_vectory_impl.py
Labels: arctern-0.1.1, enhancement

#571 enable plots
  python/arctern/__init__.py
  python/arctern/_plot_with_map.py
Labels: arctern-0.1.1, feature

#566 Performance regression
  tests/perf_regression.py
Labels: arctern-0.1.1, enhancement

#574 fix install bug of restful server
  gui/server/arctern_server/app/codegen.py
  gui/server/arctern_server/app/scope.py
  gui/server/arctern_server/tests/restful/test_scope.py
  gui/server/log.txt
  gui/server/setup.py
Labels: /gui/server, arctern-0.1.1

#576 fix fishnet error when cell_size is not an index of 2
  cpp/src/arrow/render_api.cpp
  cpp/src/render/2d/fishnet_map/fishnet_map.cpp
  cpp/src/render/utils/agg/agg_handler.h
  cpp/src/render/utils/vega/vega_fishnet_map/vega_fishnet_map.cpp
  cpp/unittest/render/fishnetmap_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/util/vega/fishnetmap/vega_fishnetmap.py
  spark/pyspark/arctern_pyspark/render_func.py
Labels: arctern-0.1.0, bug

#577 rename savetable to savefile
  gui/server/arctern_server/app/scope.py
  gui/server/arctern_server/restful-api.md
  gui/server/arctern_server/tests/restful/test_scope.py
Labels: /gui/server, arctern-0.1.1

#581 Gis version 0.1.x
  cpp/CMakeLists.txt
  cpp/src/gis/api.h
  cpp/src/gis/gis_functions.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/gis.h
  spark/pyspark/arctern_pyspark/__init__.py
Labels: arctern-0.1.1, feature

#582 Gis version 0.2.0
  cpp/CMakeLists.txt
  cpp/src/gis/api.h
  cpp/src/gis/gis_functions.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/gis.h
  spark/pyspark/arctern_pyspark/__init__.py
Labels: arctern-0.2.0, feature

#579 fix fishnet error when cell_size is not an index of 2
  cpp/src/arrow/render_api.cpp
  cpp/src/render/2d/fishnet_map/fishnet_map.cpp
  cpp/src/render/utils/agg/agg_handler.h
  cpp/src/render/utils/vega/vega_fishnet_map/vega_fishnet_map.cpp
  cpp/unittest/render/fishnetmap_test.cpp
  python/arctern/_wrapper_func.py
  python/arctern/util/vega/_vega_functions.py
  python/arctern/util/vega/fishnetmap/vega_fishnetmap.py
  spark/pyspark/arctern_pyspark/render_func.py
Labels: arctern-0.1.1, bug

#584 add conda build branch regrex and change build id according to commit id
  ci/scripts/conda/cpu/build.sh
  ci/scripts/conda/cpu/upload_anaconda.sh
  ci/scripts/conda/gpu/build.sh
  ci/scripts/conda/gpu/upload_anaconda.sh
  conda/recipes/arctern-spark/meta.yaml
  conda/recipes/arctern/meta.yaml
  conda/recipes/libarctern/cpu/meta.yaml
  conda/recipes/libarctern/gpu/meta.yaml
Labels: enhancement

#578 Fix some bugs in gis test example of comment .
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
  spark/pyspark/arctern_pyspark/register.py
Labels: arctern-0.1.1

#588 fix fishnet gpu version
  cpp/src/render/2d/fishnet_map/fishnet_map.cpp
Labels: arctern-0.1.1, bug

#587 fix fishnet gpu version
  cpp/src/render/2d/fishnet_map/fishnet_map.cpp
  python/arctern/util/vega/_vega_functions.py
  tests/draw_map/fishnet_map_nyc_1.png
  tests/draw_map/fishnet_map_nyc_2.png
  tests/draw_map/fishnet_map_nyc_3.png
  tests/draw_map/fishnet_map_nyc_4.png
  tests/draw_map/fishnet_map_nyc_5.png
  tests/draw_map_test.py
Labels: arctern-0.2.0, bug

#598 fix gpu pandas support
  cpp/src/arrow/render_api.cpp
  cpp/src/gis/api.h
  cpp/src/gis/dispatch/aligned_execute.h
  cpp/src/gis/dispatch/wkb_type_scanner.cpp
  cpp/src/gis/gdal/geometry_visitor.h
  cpp/src/gis/gdal/gis_functions.cpp
  cpp/src/gis/gdal/gis_functions.h
  cpp/src/gis/gis_functions.cpp
  cpp/unittest/gis/gdal/CMakeLists.txt
  cpp/unittest/gis/gdal/dispatch_tests.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
Labels: arctern-0.2.0, cuda, enhancement

#600 Fix gis function definition
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.2.0

#601 Fix gis function definition
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.1

#605 Fix docker login failed
  ci/jenkins/step/buildArcternFlaskImage.groovy
  ci/jenkins/step/buildArcternSparkImage.groovy
Labels: bug

#609 change branch regrex for uploading conda package
  ci/scripts/conda/cpu/upload_anaconda.sh
  ci/scripts/conda/gpu/upload_anaconda.sh
Labels: arctern-0.1.1, bug

#608 change branch regrex for uploading conda package
  ci/scripts/conda/cpu/upload_anaconda.sh
  ci/scripts/conda/gpu/upload_anaconda.sh
Labels: arctern-0.1.1, bug

#607 Update build environment version to v0.1.1
  ci/jenkins/pod/arctern-cpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-cpu-version-ubuntu18.04-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-centos7-build-env-pod.yaml
  ci/jenkins/pod/arctern-gpu-version-ubuntu18.04-build-env-pod.yaml
  ci/yaml/conda_env_python.yml
  docker/build_env/build_conda_env.yml
Labels: arctern-0.1.1

#611 Fix #610
  .github/workflows/cpp.yml
  .github/workflows/python.yml
Labels: bug

#614 Fix comment error in gis function
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/_wrapper_func.py
Labels: arctern-0.1.2

#619 Fix Arctern web server conda recipes bug
  conda/recipes/arctern-webserver/meta.yaml
Labels: bug

#620 set version 0.1.2
  cpp/CMakeLists.txt
Labels: arctern-0.1.2, feature

#621 fix zepplin host conf
  gui/server/arctern_server/config.ini
Labels: arctern-0.1.2

#625 add bootstrap config start subcommands to arctern-server
  gui/server/arctern_server/arctern-server
Labels: arctern-0.1.2, enhancement

#626 Update conda build workflows in Github Action
  .github/workflows/conda_build.yml
Labels: enhancement

#623 use st_relate for st_within
  cpp/src/gis/cuda/functor/relate_template.h
  cpp/src/gis/cuda/functor/st_relate.cu
  cpp/src/gis/cuda/functor/st_relate.h
  cpp/src/gis/cuda/functor/st_within.cu
  cpp/src/gis/cuda/functor/st_within.h
  cpp/src/gis/cuda/tools/relation.h
  cpp/src/gis/cuda/tools/relation.impl.h
  cpp/src/gis/dispatch/type_scanner.cpp
  cpp/src/gis/dispatch/type_scanner.h
  cpp/src/gis/gis_functions.cpp
  cpp/src/render/utils/image/image_loader.cpp
  cpp/unittest/gis/cuda/functor_relate_tests.cpp
  cpp/unittest/gis/cuda/host_relation_tests.cpp
  cpp/unittest/gis/cuda/test_common/testcase.h
Labels: arctern-0.2.0, feature

#630 add http retry logic
  conda/recipes/arctern-webserver/meta.yaml
  gui/server/arctern_server/app/default.py
  gui/server/arctern_server/app/forward.py
  gui/server/arctern_server/app/function.py
  gui/server/arctern_server/app/httpretry.py
  gui/server/arctern_server/manage.py
  gui/server/arctern_server/requirements.txt
Labels: arctern-0.1.2, enhancement

#633 plot
  python/arctern/_plot_with_map.py
Labels: arctern-0.2.0

#637 Merge Arctern Conda package
  ci/scripts/conda/cpu/arctern-spark/build_arctern-spark.sh
  ci/scripts/conda/cpu/arctern-webserver/build_arctern_webserver.sh
  ci/scripts/conda/cpu/arctern/build_arctern.sh
  ci/scripts/conda/cpu/build.sh
  ci/scripts/conda/cpu/libarctern/build_libarctern.sh
  ci/scripts/conda/cpu/prebuild.sh
  ci/scripts/conda/cpu/upload_anaconda.sh
  ci/scripts/conda/cpu/upload_package.sh
  ci/scripts/conda/gpu/arctern-spark/build_arctern-spark.sh
  ci/scripts/conda/gpu/arctern-webserver/build_arctern_webserver.sh
  ci/scripts/conda/gpu/arctern/build_arctern.sh
  ci/scripts/conda/gpu/build.sh
  ci/scripts/conda/gpu/libarctern/build_libarctern.sh
  ci/scripts/conda/gpu/prebuild.sh
  ci/scripts/conda/gpu/upload_anaconda.sh
  ci/scripts/conda/gpu/upload_package.sh
  ci/scripts/pyspark_build.sh
  ci/scripts/python_build.sh
  ci/scripts/run_spark_regression.sh
  conda/recipes/arctern-spark/build.sh
  conda/recipes/arctern-webserver/build.sh
  conda/recipes/arctern-webserver/meta.yaml
  conda/recipes/arctern/build.sh
  conda/recipes/arctern/cpu/build.sh
  conda/recipes/arctern/cpu/meta.yaml
  conda/recipes/arctern/gpu/build.sh
  conda/recipes/arctern/gpu/meta.yaml
  conda/recipes/libarctern/cpu/build.sh
  conda/recipes/libarctern/cpu/meta.yaml
  conda/recipes/libarctern/gpu/build.sh
  docker/spark/cpu/centos7/runtime/Dockerfile
  docker/spark/cpu/centos7/runtime/arctern/install_arctern_conda.sh
  docker/spark/cpu/ubuntu18.04/runtime/Dockerfile
  docker/spark/cpu/ubuntu18.04/runtime/arctern/install_arctern_conda.sh
  docker/spark/gpu/centos7/runtime/Dockerfile
  docker/spark/gpu/centos7/runtime/arctern/install_arctern_conda.sh
  docker/spark/gpu/ubuntu18.04/runtime/Dockerfile
  docker/spark/gpu/ubuntu18.04/runtime/arctern/install_arctern_conda.sh
Labels: arctern-0.2.0

#639 add verbose argument to arctern.version
  cpp/src/gis/gis_functions.cpp
  python/arctern/_wrapper_func.py
  spark/pyspark/arctern_pyspark/__init__.py
Labels: arctern-0.2.0, enhancement

#641 fix bug in GeoSeries set item with na value
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0, bug

#647 Fix chunked array
  cpp/src/render/utils/render_utils.cpp
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0

#646 Fix chunked array
  cpp/src/render/utils/render_utils.cpp
Labels: arctern-0.2.0

#642 improve plot_* APIs
  python/arctern/_plot_with_map.py
Labels: arctern-0.2.0

#653 Fix df box col values
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0, bug

#640 Improve st within
  cpp/src/gis/api.h
  cpp/src/gis/gdal/gis_functions.cpp
  cpp/src/gis/gdal/gis_functions.h
  cpp/src/gis/gis_functions.cpp
  cpp/unittest/gis/gis_functions_tests.cpp
  python/arctern/_wrapper_func.py
  python/arctern/cython/arctern_core_.pyx
  python/arctern/cython/arctern_core__.pxd
  python/arctern/cython/arctern_core_symbol_.pyx
  python/arctern/cython/gis.h
  python/tests/geo/geo_test.py
Labels: arctern-0.2.0, enhancement

#657 remove internel GetValues api, use arrow type_traits
  cpp/src/render/utils/agg/agg_handler.h
  cpp/src/render/utils/render_utils.h
Labels: arctern-0.2.0

#659 Fix geoseries astype bytes or string
  python/arctern/geoseries/geoarray.py
  python/arctern/geoseries/geoseries.py
  python/tests/geoseries/geo_funcions_test.py
  python/tests/geoseries/geoseries_test.py
Labels: arctern-0.2.0, bug
